//variables
$mainColor: orange;
$secondaryColor: rgba(94, 118, 252, .7);
$negro: black;
$gris: gray; 

//sizing
$w-100: 100%;
$vw-100: 100vw;
$vw-25: 25vw;
$vw-24: 24vw;
$vw-15: 15vw;
$vh-100: 100vh;
$vh-50: 50vh;
$vh-35: 35vh;
$vh-25: 25vh;
