@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

$fontMain: 'Oswald', sans-serif;

//fontsize
$textSm: 1em;
$textMd: 1.5em;
$textL: 2em;
$textXl: 2.5em;
$textXxl: 3em;

//fontweight
$textRegular: 200;
$textBold: 500;
