.botonera{
    @include flex (row, space-between, center, nowrap);
    background-color: $secondaryColor;
    button{
        color: $mainColor;
    }
    ul{
        display: flex;
        li{
            list-style: none;
            padding: 10px;
            a{
                @include text ($textXxl, 3em, $mainColor);
                text-decoration: none;

                &:hover{
                    color: black;
                    font-weight: $textBold;
                    transition: all .5s;
                }
                

            }
        }
    }

}
