.encabezado-vin{
    input{
        width: $w-100;
        @include text (2em, .5em, $gris);
        border: 10px bold gray;
        margin-top: 20px;
        text-align: center;

    }
    h1{
        @include text (4.5em, 2em, $mainColor);
    }
}
.contenido-vin{
    section{
        @include flex (row, flex-end, flex-start, wrap);
        button{
            border-radius: 4px;
            margin: 10px 10px;
            img{
                width: $vw-15;
                border-radius: 5px;
            }

        }
    }

}
.side-vin{
    border: 3px solid $secondaryColor;
    h3{
    @include text(3em,1em,$mainColor);
    margin-left: 20px
    }
    ul{
        @include flex (column, flex-end, flex-start, wrap);
        li{
            list-style: none;
            a{
                @include text(1.5em,1em,$negro);
                text-decoration: none;
                &:hover{
                    color: $mainColor;
                    font-weight: $textBold;
                    transition: all .3s;
                }
            }
        }
        
    }
}
.pie-vin{
    @include flex (row, center, center, wrap);
}
//media
@media (max-width: 900px){
    .contenido-vin{
        @include flex (row, center, center, wrap);
        section{
            @include flex (row, center, center, wrap);
            button{
                img{
                    width: $w-100;
                }
            }
        }

}
}