.encabezado-wi {
    input {
        width: $w-100;
        @include text (2em, .5em, $gris);
        border: 10px bold gray;
        margin-top: 20px;
        text-align: center;

    }

    h1 {
        @include text (4.5em, 2em, $mainColor);
        text-align: center;
    }
}

.contenido-wi {
    section {
        @include flex (row, center, center, wrap);
        border: 2px solid orange;

        button {
            width: fit-content;
            border-radius: 4px;
            margin: 10px 10px;

            img {
                width: $vw-15;
                border-radius: 5px;
            }

        }

        figure {
            
            border-radius: 4px;

            p {
                margin: 10px 10px;
                @include text (2em, 2em, $mainColor);
            }

            button {

                @include text (1em, 2em, $negro);
                background-color: $secondaryColor;

            }

            ul {
                @include text (2em, 1em, $negro);

            }
        }

    }
}

.card {
    position: static;
    @include flex (row, center, center, wrap);
    margin: 15px 15px;

    ul {

        @include text (1.5em, 1.5em, $secondaryColor);

        li {
            list-style: decimal;
        }
    }

    &:hover {
        border: 2px solid orange;
        border-radius: 2px;
        transition: all 0.1s;
    }
}

.accordion-item {
    button {
        border: 2px solid orange;
        background-color: $secondaryColor;
        @include text (1em, 1em, $negro)
    }
}

@media (max-width: 900px) {
    .contenido-wi {
        @include flex (row, center, center, wrap);

        section {
            @include flex (row, center, center, wrap);

            button {
                img {
                    width: $w-100;
                }
            }
        }
    }
}